.layout-page {
	position: relative;
	height: 100%;
	overflow: hidden;
	user-select: none;
	background: $background-color;
	display: flex;
	flex-direction: column;
	.layout-page-header {
		position: relative;
		flex: 0 0 auto;
		background: $background-color;
		z-index: 1000;
		padding: 60px 16px 40px 16px;
	}
}

/* 加载到上层的页面的布局样式 */
.above-loaded-page {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999;
}
